@font-face {
  font-family: "Untitled Sans";
  src: url("../public/fonts/UntitledSansWeb-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Soehne Mono";
  src: url("../public/fonts/soehne-mono-web-buch.woff2");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9e8cfc;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
